#UI-container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
}

.UI--item {
    background-color: #40629386;
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 8px;
}

.UI--item__draggable {
    pointer-events: auto;
}

.UI--item--options {
    display: flex;
    justify-content: flex-end;
}